body{
    font-family: Arial, sans-serif; margin: 0; padding: 0;
    background: #f4f4f4;   
}
header{
    padding: 20px;
    background: #2a9d8f;
    color: white;
    display: flex;
    justify-content: space-between;
    align-self: center;
}
header h1{
    margin: 0;
    font-size: 24px;
}
.panier-btn {
    cursor: pointer;
    font-weight: bold;
    background: #e76f51;
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    color: white;
    display: flex;
    align-items: center ;
    gap: 5px;

}

.panier-btn:hover{
    background: #d04e2d;
}

.boutique {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(220px,1fr));
    gap: 20px;
    padding: 20px;
}
.produit{
    background: white;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba( 0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.produit:hover {
    transform: translateY(-5px);
}
.produit img{
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}
.prix{
    color: #e63946;
    font-weight: bold;
    margin-bottom: 10px;
}

.quantite button {
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 5px;
    background: #2a9d8f;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

.btn-details, .btn-panier{ 
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 18px;
    cursor: pointer;
    margin-bottom: 5px;
    font-weight: bold;
}

.btn-details {
    background: #457b9d;
    color: white;
}
.btn-details:hover {
    background: #1d3557;
}
.btn-panier {
    background: #e76f51;
    color: white;
}
.btn-panier:hover {
    background: #d04e2d;
}

.modal{ 
    display: none;
    position: 20px;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba( 0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    width: 400px;
    max-width: 90%;
    text-align: center;
    position: relative;
}

.modal-content img{
    width: 100%;
    border-radius:10px ;
    transition: transform 0.3s; 
    cursor: zoom-in;
}

.modal-content img:hover {
    transform: scale(1.2);
}
.close {
    position: absolute;
    top:10px;
    right: 15px;
    font-size: 22px;
    cursor: pointer;
}

#panier-flaot{
    position: fixed;
    right: -350px;
    top: 0;
    width: 350px;
    height: 100%;
    background: white;
    box-shadow: -4px 0 15px rgba( 0, 0, 0, 0.2);
    transition: right 0.3s;
    z-index: 999;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

#panier-float.open {
    right: 0;
}

#panier-float.h2 {
    margin-top: 0;
    text-align: center;
}

.panier-item  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.panier-item div{
    text-align: center;
    flex:1;
}
.supprimer{
    background: #e63946;
    color:white;
    border:none;
    border-radius: 5px;
    padding: 5px 8px;
    cursor: pointer;
}
.supprimer:hover{
    background: #d62828;
}
#total{
    font-weight: bold;
    text-align: right;
    margin-top: auto;
    font-size: 18px;
}